// * Typography
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
$font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// * Colors
$clr-white-100: rgba(255, 255, 255, 1);
$clr-gray-100: rgba(109, 109, 109, 1);
$clr-black-100: rgba(20, 20, 20, 0.3);
$clr-black-200: rgba(20, 20, 20, 1);
$clr-green-100: rgba(104, 178, 97, 0.3);
$clr-green-200: rgba(104, 178, 97, 1);

// * For shaodws
$clr-black-50: rgba(20, 20, 20, 0.15);
$clr-green-50: rgba(17, 63, 13, 0.15);

//  * Default Configuration

*,
*::after,
*::before {
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	min-height: 100vh;
	position: relative;
	font-family: $font-family;
	background-color: $clr-white-100;
}

::selection {
	background-color: $clr-green-100;
}

::-webkit-scrollbar {
	width: 1vw;
	min-width: 2px;
	max-width: 10px;
}

::-webkit-scrollbar-track {
	background: $clr-white-100;
}

::-webkit-scrollbar-thumb {
	border-radius: 2rem;
	background: $clr-green-100;
	transition: all 0.1s ease-out;
	&:hover {
		background: $clr-green-200;
	}
}

//
.h1,
.h2,
.p,
.input-field,
.label,
a.nav-link {
	color: $clr-black-200;
}

.h1 {
	font-size: 4rem;
	font-weight: $fw-bold;
	text-align: center;
}
.h2 {
	font-size: 1.8rem;
	font-weight: $fw-regular;
	text-align: center;
}
.h6 {
	font-size: 1.2rem;
	font-weight: $fw-regular;
	color: $clr-gray-100;
}
.td {
	font-size: 1.4rem;
	font-weight: $fw-semibold;
}

.base-currency {
	font-size: 1.4rem;
	font-weight: $fw-semibold;
	color: $clr-green-200;
}

a {
	text-decoration: none;
}

a.nav-link {
	font-size: 1.4rem;
	font-weight: $fw-medium;
}

.nav-brand {
	pointer-events: none;
	font-size: 2rem;
	font-weight: $fw-bold;
}

.button {
	font-size: 1.4rem;
	font-weight: $fw-medium;

	&-primary {
		color: $clr-white-100;
	}
}

.input-field {
	font-size: 1.8rem;
	font-weight: $fw-semibold;
}
.label {
	font-size: 1.2rem;
	font-weight: $fw-medium;
}

@media screen and(max-width: 360px) {
	.h1 {
		font-size: 3.4rem;
	}
	.h2 {
		font-size: 1.6rem;
	}
	.input-field {
		font-size: 1.6rem;
	}
	.button {
		font-size: 1.2rem;
	}
	a.nav-link {
		font-size: 1.2rem;
	}
	.nav-brand {
		font-weight: 1.8rem;
	}
}
